<% if @product.has_variants? 
   exists_options = @product.variants.active.map{|x|x.option_values.map{|y|y.id}}.flatten().uniq()
%>

  <div id="product-variants" class='alpha omega ten columns'>
    <h6 class='product-section-title'><%= Spree.t(:variants) %></h6>
    <div class='variants-buttons'>
      <% @product.option_types.sort_by { |ot| ot.position }.each do |option_type| %>
        
        <div class='option-type-row'>
          <div class='option-type-presentation'><%= label_tag option_type.presentation %></div>
          <div class='option-type-select'>
            <select id="select_<%= option_type.name.downcase %>" class="option_values" name="option_values[<%= option_type.name.downcase %>]">
              <% option_type.option_values.each do |option| %>
                <% if exists_options.include? option.id %>
                  <option value="<%= option.id %>">
                    <%= option.presentation %>
                  </option>
                <% end %>
              <% end %>

            </select>
          </div>
        </div>
        
      <% end %>
    </div>
  </div>
  <div></div>
  <%= hidden_field_tag "products[#{@product.id}]", "", :id => 'product_id' %>
<% end %>
<!--<% if @product.master.in_stock? || Spree::Config[:allow_backorders] %>
  <%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1, :class => 'title', :size => 3 %>
  &nbsp;
  <%= button_tag :class => 'large primary', :id => 'add-to-cart-button' do %>
    <%= image_tag('icons/add-to-cart.png') + t(:add_to_cart) %>
  <% end %>
<% else %>
  <%= content_tag('strong', t(:out_of_stock)) %>
<% end %>-->

<script type="text/javascript">

  var variants = new Array();
  <% @product.variants.active.each_with_index do |v,index|
     next if v.option_values.empty? || (!v.in_stock? && !Spree::Config[:show_zero_stock_products])
     %>
    variants[<%= index %>] = [<%= v.id %>, <%= v.option_values.sort{|ov1, ov2| ov1.option_type.position <=> ov2.option_type.position}.map(&:id).join(",") %> ];
  <% end %>

</script>

    
